
@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">SOBRE NOSOTROS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <p class="lead">
                    Somos una empresa orgullosamente Mexicana con orígen en la ciudad de León, Guanajuato "Capital Nacional del Calzado". Zapateria Regional es una empresa familiar, que en base a esfuerzo y dedicación de todo su personal ha crecido hasta convertirse en la cadena de zapaterías más grande de México. Tenemos presencia con cerca de 400 zapaterias abarcando todas las regiones del país. Contamos con bodegas centrales de compra en las ciudades de León, Guanajuato y Guadalajara, Jalisco donde negociamos con un gran número de proveedores los mejores precios para usted. Nuestra propia flotilla de camiones nos proporciona mayor eficiencia y menores costos que se traducen en mejores precios para el público consumidor. Estamos continuamente a la vanguardia en nuestros modelos para ofrecer a usted la mejor relación en precio, calidad y moda.
                </p>
            </div>
            
        </div>
        
    </div>
</section>
