
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">NUESTRA VISION</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <p class="lead">
                    Zapatería Yucatán del sur es una empresa dedicada a la venta de calzado , razón por la cual busca ofrecer la mejor variedad en todo tipo de calzado  tanto para adultos como para jóvenes quienes tengan la pasión por entrenar con la mejor calidad y lo último en moda en cuanto a tenis s, Ven y conoce todos nuestros modelos de zapatos s.
                </p>
            </div>

        </div>

    </div>
</section>

