
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@for (int fill = 1; fill < 7; fill++)
{
    for (int col = 1; col < 7; col++)
    {
        <label>| @fill -  @col | </label>
        <br />
    }
    <br />
}

